/* GENERAL */
a {
	text-decoration: none!important;
}

/* NAV */
.nav-tabs.nav-justified > li > a {
	border: none;
	color: #333;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:active {
	border: none;
	color: #428BCA;
}

.nav-tabs.nav-justified > li > a:hover, .nav-tabs.nav-justified > li > a:active {
	color: #428BCA;
	background: white;
}

/* FORM */
.form-text-only {
	height: 34px;
	padding-top: 7px;
}

/* CAROUSEL */
.carousel-inner .item {
	height: 400px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	margin: 0px;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 10px;
}

.carousel-control.right, .carousel-control.left {
	background: transparent;
}

.carousel-inner .item .glyphicon-edit{
	position: absolute;
	top: 0px;
	left: 105px;
}

.carousel-inner .item .glyphicon-remove{
	position: absolute;
	top: 0px;
	right: 105px;
}

.carousel-inner .item.completed {
	background: #eee;
}

.carousel-inner .item.completed .start, .carousel-inner .item.completed .pause, .carousel-inner .item.completed .stop {
	visibility: hidden;
}

.carousel-inner .item.not-completed .done-text, .carousel-inner .item.completed .timer-text, .carousel-inner .item.completed .form-group.not-done, .carousel-inner .item.not-completed .form-group.done {
	display: none;
}

.carousel-inner .item.completed .done-text, .carousel-inner .item.not-complete .timer-text,.carousel-inner .item.completed .form-group.done, .carousel-inner .item.not-completed .form-group.not-done {
	display: block;
}

/*.form-group.has-error .form-control[disabled], .form-group.has-warning .form-control[disabled], .form-group.has-success .form-control[disabled] {
 	color: #555;
 	border: 1px solid #CCC!important;
 }*/
 
.form-control[disabled], 
#hours-input-label.text-muted, 
#minutes-input-label.text-muted,
.btn-default[disabled]   {
 	visibility: hidden;
 }